-#########################
-#show basic info edit panel
-#########################
-module_title = capture do 
  %h2.title= t('Account Information')
-module_content = capture do
  =render :file => 'user/basic_info'
=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => 'rt-grid-12', :square_style => 'square1' }
-#########################
-#show password edit panel
-#########################
-module_title = capture do 
  %h2.title= t ('Change Password')
-module_content = capture do
  =render :file => 'user/passwd'
=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => 'rt-grid-12', :square_style => 'square1' }

-#########################
-#show email edit panel
-#########################
-module_title = capture do 
  %h2.title= t('Change Email')
-module_content = capture do
  =render :file => 'user/email'
=render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :grid_style => 'rt-grid-12', :square_style => 'square1' }

