<% form_tag(forgot_password_user_path) do %>
  <label>Your E-Mail: </label>
  <%= text_field_tag "email" %><br/>

  <div class="button-bar">
    <%= submit_tag "Reset Password" %>
    <%= link_to "Cancel", :action => 'login' %>
  </div>
<% end %>

