<%form_tag(:action => :signup) do%>
<h3>Signup a new user</h3>
<br/>
name:
<%= text_field_tag :name%>
<br/>
password:
<%= text_field_tag :password%>
<br/>
email:
<%= text_field_tag :email%>
<br/>
<%= submit_tag :submit %>
<%end%>
