<%form_tag (:action =>:login) do%>
<%= hidden_field_tag :return_url, params[:return_url]%>
<h3>User login</h3>
<br/>
name:
<%= text_field_tag :name%>
<br/>
password:
<%= text_field_tag :password%>
<br/>
<%= submit_tag :submit %>
<%end%>

