<div style='float:left'> 
  <h2>
    OpenFoundry Account 
  </h2>
  <%#= %>
</div>
<div style='float:right'> 
  <%= select_tag 'Language', @locales.map{|m| "<option>#{m}</option>"}.join('')%>
</div>

<div>
  <p>
    <h3>
      [Center Panel]
    </h3>
    <h5>
      [Put Something Here]
    </h5>
  </p>
<div>
<hr/>


