<div style='float:left'> 
  <h2>
    <%= t 'OpenFoundry Account' %> 
  </h2>
  <%= link_to 'signup', signup_user_path unless @user%>
</div>
<div style='float:right'> 
  Language Selection: <%= select_tag 'Language', @locales.map{|m| "<option>#{m}</option>"}.join('')%>
</div>
<div>
  <p>
    <h3>
      [Center Panel]
    </h3>
    <h5>
      [Put Something Here]
    </h5>
  </p>
<div>
<br/>
<hr/>

<%= show_flash%>

