
    <!-- MainMenu Start-->
        <div id="rt-navigation">
                    <div id="rt-navigation2">
                        <div id="rt-navigation3">
                              <ul class="menutop level1" >
                        <li class="item root" >
                              <a class="orphan item bullet" href="/"><span>首頁</span></a>

                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/of/"><span>專案</span></a>
                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/community"  ><span>社群</span></a>
                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/news"  ><span>新聞</span></a>

                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/law-and-licenses"  ><span>法律源地</span></a>
                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/workshop"  ><span>工作坊</span></a>
                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/resourcecatalog"  ><span>資源表列</span></a>

                                  </li> 
                      <li class="item root" >
                              <a class="orphan item bullet" href="/about"  ><span>關於</span></a>
                                  </li> 
                        </ul>
                    <div class="clear"></div>
                </div>
                    </div>
                </div>

    <!-- MainMenu END-->

